body {
    padding: 0;
    margin: 0;
}

.top {
    background: #ccc;
    font-size: 30px;
}

.left {
    float: left;
    background: #ddd;
    width: 200px;
    text-align: center;
}

.content {
    background: #eee;
    margin-left: 200px;
}